<header>
  <div class="site-header" [ngClass]="[isActive ? 'is-active' : '', onTop ? '' : 'dark']" scrollEvents="true" #siteHeader>
    <!-- pre-header goes here -->
    <div class="container">
      <div class="header-container">
        <div class="header__logo-section">
          <a href="http://www.freepik.com" target="_blank" class="license-link">
            Logo Designed by Freepik
          </a>
          <a href="#" class="header__logo">
            <img src="../assets/images/favicon.svg" alt="Site Logo" />
          </a>
        </div>
        <nav class="header__site-nav">
          <div
            class="header__nav-wrapper--outer"
            [ngClass]="isActive ? 'is-active' : ''"
          >
            <div class="header__nav-wrapper--inner">
              <div class="header__nav-wrapper--background"></div>
              <ul class="header__nav-list" #parentList>
                <li class="header__nav-item">
                  <a
                    href="javascript:;"
                    class="header__nav-link-item menu-item"
                  >
                    Menu Item 1
                  </a>
                </li>
                <li class="header__nav-item menu-item">
                  <a
                    href="javascript:;"
                    class="header__nav-link-item menu-link"
                    [ngClass]="accordionActive ? 'active' : ''"
                    (click)="accordionClicked()"
                    #accordionParent
                  >
                    Menu Item 2
                    <fa-icon [icon]="accordionIcon"></fa-icon>
                  </a>
                  <ul class="sub-menu js-sub-menu">
                    <li class="menu-item">
                      <a href="javascript:;" class="header__nav-link-item">
                        Sub-menu item 1
                      </a>
                    </li>
                    <li class="menu-item menu-item--last">
                      <a
                        href="javascript:;"
                        class="header__nav-link-item menu-link"
                        [ngClass]="accordionChildActive ? 'active' : ''"
                        (click)="accordionChildClicked()"
                        #accordionChild
                      >
                        Sub-menu item 2
                        <fa-icon [icon]="accordionChildIcon"></fa-icon> 
                      </a>
                      <ul class="sub-menu js-sub-menu">
                        <li class="menu-item">
                          <a href="javascript:;" class="header__nav-link-item">
                            Sub-menu item 1
                          </a>
                        </li>
                        <li class="menu-item">
                          <a href="javascript:;" class="header__nav-link-item">
                            Sub-menu item 2
                          </a>
                        </li>
                      </ul>
                      <!-- js-accordion-item -->
                    </li>
                  </ul>
                </li>
                <li class="header__nav-item menu-item">
                  <a href="javascript:;" class="header__nav-link-item">
                    Menu Item 3
                  </a>
                </li>
                <li class="header__nav-item menu-item">
                  <a href="javascript:;" class="header__nav-link-item">
                    Menu Item 4
                  </a>
                </li>
              </ul>
              <!-- header__nav-wrapper--inner -->
            </div>
            <!-- header__nav-wrapper--outer -->
          </div>
          <!-- header__site-nav -->
        </nav>
        <a
          href="javascript:;"
          class="site-header__hamburger hamburger"
          [ngClass]="isActive ? 'is-active' : ''"
          (click)="hamburgerClicked()"
          ><span></span
        ></a>
        <!-- header__contaienr -->
      </div>
      <!-- container -->
    </div>
    <!-- site-header -->
  </div>
</header>
<!-- </div> -->
