<section>
  <div class="tabs-section">
    <div class="container">
      <div class="row">
        <div class="tabs-section__content tabs-section__content--upper">
          <div class="col-xl-6">
            <div class="tabs-section__img-container tabs-section__img-container--upper">&nbsp;</div>
          </div>
          <div class="col-xl-6">
            <div class="tabs-section__text-content-box tabs-section__text-content-box--upper">
              <div class="tabs-section__text-heading-box">
                <h2 class="tabs-section__heading">Tabs Section Heading</h2>
              </div>
              <div class="tabs-section__text-paragraph-box">
                <p class="tabs-section__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis vero culpa voluptatum ut nam incidunt, ab repudiandae sapiente explicabo beatae, non similique molestiae tempore nobis quos iure quod nisi obcaecati.</p>
              </div>
            </div> <!-- tabs-section__text-content-box -->
          </div> <!-- col-xl-6 -->
        </div> <!-- tabs-section__content--upper -->
      </div> <!-- row -->
      <div class="row">
        <div class=" tabs-section__content tabs-section__content--lower">
          <div class="col-xl-6">
            <div class="tabs-section__img-container tabs-section__img-container--lower">&nbsp;</div>
          </div>
          <div class="col-xl-6">
            <div class="tabs-section__text-content-box tabs-section__text-content-box--lower">
              <div class="tabs-section__text-heading-box">
                <h2 class="tabs-section__heading">Tabs Section Heading</h2>
              </div>
              <div class="tabs-section__text-paragraph-box">
                <p class="tabs-section__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis vero culpa voluptatum ut nam incidunt, ab repudiandae sapiente explicabo beatae, non similique molestiae tempore nobis quos iure quod nisi obcaecati.</p>
              </div>
            </div> <!-- tabs-section__text-content-box -->
          </div> <!-- col-xl-6 -->
        </div> <!-- tabs-section__content--lower -->
      </div> <!-- row -->
    </div> <!-- container -->
  </div><!-- tabs-section -->
</section>
