<section class="banner">
  <div class="container">
    <div class="banner__container">
      <div class="banner__heading-box">
        <h1 class="banner__heading">Banner Heading</h1>
      </div>
      <div class="banner__content-box">
        <p class="banner__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem magni
          numquam culpa, sint quibusdam aspernatur dolor, dolore, dolorum id
          esse repudiandae molestiae. Perspiciatis, optio provident mollitia
          laboriosam quaerat voluptates beatae?
        </p>
        <div class="banner__button-wrapper">
          <span class="banner__button-text">Find out more</span>
          <button class="banner__btn js-banner-btn">
            <fa-icon [icon]="['fas', 'bolt']"></fa-icon>
            <!-- <i class="fa-solid fa-bolt"></i> -->
          </button>
        </div>
      </div>
      <div class="banner__flash-popup js-flash-popup">
        <a class="banner__popup-close js-popup-close-btn" href="javascript:;">
          <i class="fa fa-x"></i>
        </a>
        <p class="banner__popup-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo
          aperiam, exercitationem deserunt amet accusamus asperiores reiciendis
          quae enim sit accusantium corporis vel, harum, neque impedit deleniti
          nemo velit officia omnis.
        </p>
      </div>
      <!-- banner container -->
    </div>
    <!-- container -->
  </div>
  <!-- Banner -->
</section>
